@import "bootstrap";
.page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
	width: 40px;
	display: flex;
	height: 40px;
	color: #bf8c4f;
	background-color: #262727;
	line-height: 40px;
	border-radius: 100%;
	padding: 0;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 3px solid #2ecc71;
}
.page-link:hover {
	z-index: 2;
	color: #cdd6e0;
	text-decoration: none;
	background-color: #343a40;
	border: 3px solid #2ecc71;
}

.mobile-search .btn{
	border-radius: 50%;
}
